@using static BeanSceneApp.ViewModels.BookingViewModel
@model BeanSceneApp.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create Booking";
}

<h1>New Booking</h1>

<div class="row">
    <p>Booking a private event? <a href="@Url.Action("PrivateBooking")">Click here.</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-1">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" type="text" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" type="text" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" type="text" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
              <div class="form-group my-1">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="text" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
              <div class="form-group my-1">
                <label asp-for="NumOfGuests" class="control-label"></label>
                <input asp-for="NumOfGuests" type="number" class="form-control" />
                <span asp-validation-for="NumOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Note" class="control-label"></label>
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
            </div>
            <div class="form-group my-1">
                <label asp-for="Date" class="control-label fw-bold"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="StartTime" class="control-label fw-bold"></label>
                @Html.DropDownListFor(model => model.StartTime, new SelectList(Model.Timeslots, "StartTime", "StartTime"), new {@class = "form-control form-select"})
            </div>
            @if (User.IsInRole("Manager") || User.IsInRole("Staff"))
            {
                <div class="form-group my-1">
                    <label asp-for="Source" class="control-label fw-bold"></label><br />
                    <select class="form-control form-select" asp-for="@Model.Source" asp-items="Html.GetEnumSelectList<SourceEnum>()"></select>    
                </div>
            }
            else
            {
                 <input asp-for="Source" type="hidden" name="Source"/>
            }
            <div class="form-group my-1">
                <input asp-for="UserId" type="hidden" name="UserId"/>
                <input type="submit" value="Create" class="btn btn-primary" />

                <a type="button" class="btn btn-primary" href="@Url.Action("Index")">
                    <span>Back</span>
                </a>
            </div>

        </form>
    </div>
</div>

<div class="my-1">
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}