@model IOrderedEnumerable<KeyValuePair<TimeSpan, int>>
@{
    ViewData["Title"] = "Booking By Time Report";
}

<h1>Bookings By Time</h1>

<p>See the number of completed bookings by timeslot in the last month.</p>

<p>
    <a type="button" class="btn btn-primary mb-3" href="@Url.Action("Index")">
        <span>Back</span>
    </a>
</p>
<h2>From @String.Format("{0:dd/MM/yyyy}", DateTime.Now.AddDays(-31)) - @String.Format("{0:dd/MM/yyyy}", DateTime.Now)</h2>
<table class="table">
    <thead>
        <tr>
            <th>
               <p>Timeslot</p>
            </th>
            <th>
                <p>Total Number of Bookings</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(KeyValuePair<TimeSpan, int> item in Model) 
        {
            <tr>
               <td>
                    @String.Format("{0:hh\\:mm}", item.Key)
               </td>
               <td>
                    @item.Value
               </td>
            </tr>
        }
    </tbody>
</table>
