@model BeanSceneApp.ViewModels.PrivateBookingAvailableTable
@{
    ViewData["Title"] = "SearchTablePrivate";
}

<h1>Search Table</h1>

@{
    var firstBooking = @Model.Booking.ElementAt(0);
}
<dl class="row">
    <dt class = "col-sm-2">
        Name
    </dt>
    <dd class = "col-sm-10">
        @firstBooking.FirstName @firstBooking.LastName
    </dd>
    <dt class = "col-sm-2">
        Phone
    </dt>
    <dd class = "col-sm-10">
        @firstBooking.Phone)
    </dd>
    <dt class = "col-sm-2">
        Email
    </dt>
    <dd class = "col-sm-10">
        @firstBooking.Email
    </dd>
    <dt class = "col-sm-2">
        Date
    </dt>
    <dd class = "col-sm-10">
        @String.Format("{0: ddd dd/MM/yyyy}", @firstBooking.Date)
    </dd>
    <dt class = "col-sm-2">
        Start Time
    </dt>
    <dd class = "col-sm-10">
        @String.Format("{0:hh\\:mm}", firstBooking.StartTime)
    </dd>
    <dt class = "col-sm-2">
        Guests
    </dt>
    <dd class = "col-sm-10">
        @firstBooking.NumOfGuests
    </dd>
     <dt class = "col-sm-2">
        Note
    </dt>
    <dd class = "col-sm-10">
        @firstBooking.Note
    </dd>
    <dt class = "col-sm-2">
        Required Tables
    </dt>
    <dd class = "col-sm-10">
        @firstBooking.RequiredTables
    </dd>
    <dt class = "col-sm-2">
        Tables
    </dt>
    <dd class = "col-sm-10">
        @if (firstBooking.AvailableTables != null)
        {
            foreach(var table in firstBooking.AvailableTables)
            {
                @String.Format("{0}{1}, ",  table.AreaId, table.TableNum)
            }
        }       
    </dd>
</dl>
@foreach(var booking in Model.Booking)
{
    <h3>@String.Format("{0:hh\\:mm}", booking.StartTime)</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    Area Id
                </th>
                <th>
                    Table Number
                </th>            
                <th> 
                    Select
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AvailableTables.Where(i => i.StartTime == booking.StartTime))
            {
                int count = 0;
                <tr>
                    <td>
                        @String.Format("{0: ddd dd/MM/yyyy}", item.Date)
                    </td>
                    <td>
                        @String.Format("{0:hh\\:mm}", item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TableNum)
                    </td>
                    <td>
                        @if(booking.AvailableTables != null)
                        {
                            count = booking.AvailableTables.Count();
                        }
                        @if (count < booking.RequiredTables)
                        {
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddToBookingPrivate", new { date = item.Date.ToString(), time = item.StartTime, areaId = item.AreaId, tableNum = item.TableNum, bookingId = booking.Id })'">Book</button>
                        }
                        
                    </td> 
                </tr>
            }
        </tbody>
    </table>
 }
